<div class="flex px-2 justify-between h-16 items-center bg-white w-full">
  <div class="logo bg-white shadow-md p-3">
    <h3 class="text-orange-500 text-xl font-semibold">
      SITA BAABA
    </h3>
  </div>
  <div class="form">
    <form action="#" method="get">
      <div class="border w-[300px] flex items-center rounded-full p-2">
        <span class="fas fa-search cursor-pointer ml-1 mr-2"></span>
        <input type="search" placeholder="search" class="outline-none flex-1" />
      </div>
    </form>
  </div>
  <div>
    <div class="user flex items-center mx-2">
      <img
        src="/image/avatar.jpg"
        class="cursor-pointer w-[35px] h-[35px] rounded-full object-cover"
      />
      <p class="mx-2">Abdou Jammeh</p>
    </div>
  </div>
</div>