<div class="side-nav bg-white h-full mt-2 w-[235px] text-gray-600 text-base">
  <ul>
    <li>
      <a
        href="/dashboard"
        class="block px-4 pb-1 pt-2 mt-2 hover:bg-orange-500 hover:text-white"
      >
        <i class="fas fa-border-all mx-2"></i>
        <span>Dashboard</span></a>
    </li>

    <li>
      <a
        href="/make-sales"
        class="block px-4 py-1 hover:bg-orange-500 hover:text-white"
      >
        <i class="mx-2 fas fa-cart-plus"></i>
        <span>Make sales</span></a>
    </li>
    <li>
      <a
        href="/sales"
        class="hover:bg-orange-500 hover:text-white block px-4 py-1"
      >
        <i class="mx-2 fas fa-briefcase"></i>
        <span>Sales</span></a>
    </li>
    <li>
      <a
        href="/stocks"
        class="hover:bg-orange-500 hover:text-white block px-4 py-1"
      >
        <i class="mx-2 fas fa-box-open"></i>
        <span>Stocks</span></a>
    </li>
    <li>
      <a
        href="/products"
        class="block hover:bg-orange-500 hover:text-white px-4 py-1"
      >
        <i class="mx-2 fas fa-basket-shopping"></i>
        <span>Products</span></a>
    </li>
    <li>
      <a
        href="/categories"
        class="block hover:bg-orange-500 hover:text-white px-4 py-1"
      >
        <i class="mx-2 fas fa-home"></i>
        <span>Categories</span></a>
    </li>
    <li>
      <a
        href="/users"
        class="block px-4 hover:bg-orange-500 hover:text-white py-1"
      >
        <i class="mx-2 fas fa-users"></i>
        <span>Users</span></a>
    </li>
  </ul>
</div>